div.tl-dialog {
    position: fixed;

    min-width: var(--min-width);
    width: var(--width);
    max-height: var(--max-height);

    border: var(--tl-style-dialog-border);
    border-radius: var(--tl-style-dialog-border-radius);

    background-color: var(--background-color, #ffffff);

    box-shadow: 0 5px 15px var(--shadow-color);

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    &.tl-dialog-center {
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    header {
        height: var(--tl-style-dialog-header-height);

        background-color: var(--header-background-color);

        box-shadow: 0 3px 6px var(--header-shadow-color);

        border-radius: var(--tl-style-dialog-border-radius) var(--tl-style-dialog-border-radius) 0 0;

        display: flex;
        align-items: center;

        span.tl-dialog-title {
            margin: 0 auto;
        }

        button.tl-button-icon {
            margin: 0 5px;

            min-width: var(--tl-style-dialog-header-button-size);
            width: var(--tl-style-dialog-header-button-size);
            height: var(--tl-style-dialog-header-button-size);
        }
    }

    main {
        min-height: var(--min-height, 20px);
        max-height: var(--max-height);

        padding: var(--tl-style-dialog-body-padding);
    }
}
